.center-container {
  text-align: center;
  margin-top: 280px;
}

body {
  background: url('./image/foto2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#bodyMap {
  background: white;
  text-align: center;
}

#text {
  color: #000000;
  text-align: center;
}


input {
  font-size: 30px;
  background-color: #8e80fb;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  border-radius: 25px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

input:hover {
  color: #000000;
  background-color: #fff;
  border-color: #53f659;
  border: 2px;
}

.x {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  /* Imposta un valore alto per sovrapporre tutto */

}

.Map {
  font-family: sans-serif;
  text-align: center;

}

#root {
  height: 100vh;
}

.leaflet-container {
  height: 80vh;
}